

*{
    margin:0;
    padding: 0;
}
body{
    /* background-image: url("/src/Assets/150-1505858_blue-line-curve-png.png"); */
    /* background-repeat: no-repeat;
    background-image: cover;
    width: 100vw; */
}
.maincontainer{
    /* width: 100vw;
    height: 100vh;
    position:absolute;
    display: flex; */
    /* display: flex; */
    /* justify-content: center; */

    position: absolute;
    width:100vw;
    
    /* border:1rem solid red; */
    /* background-color: rgb(15, 23, 36); */
} 

